<!DOCTYPE html>
<html>
<head>
	<title>RHETSEN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
	<div class="centered">
	<h1 >WELCOME TO RHETSEN!</h1>
	</div>

	<div class="centered">
			<p class="paragraph">The RHETSEN scale captures what people think about when talking to others.  The concept of rhetorical sensitivity was formulated in the 1970s by Professors Roderick P. Hart and Don M. Burks to highlight the difficulties people can have in their relationships - on the job and in the neighborhood, with family members and with casual acquaintances.</p>
			<p class="paragraph">Eventually, Hart and his colleagues wanted a way of reliably assessing people's attitudes, so they developed RHETSEN.  Since then, a great many scholars have used the scale in their own research, most often sampling the opinions of the perennial college sophomore.</p>
			<p class="paragraph">More recently, Professor Dakota Park-Ozee joined Hart to paint a broader picture and they are now measuring the rhetorical sensitivity of some 12,000 citizens in the U.S. and around the world.  They are asking how age, gender, education, culture, and especially politics, affect the way people interact with one another.</p>
			<p class="paragraph">The scale located here is called RHETSEN-KWIK.  While shorter than the original version, It correlates perfectly with it and has considerable internal reliability as well.</p>
			<p class="paragraph">What type of communicator are you?  Let RHETSEN answer that question.</p>
	</div>
	<div class="centered">
		<a href="/rhetsen" class="action-buttons">Click here to take the test</a><br><br>
	</div>
	<div class="centered">
	<img src="static/images/main_img.png" alt="main image" style="width: 30%; height: auto;">
	</div>
</body>
</html>
